body {
	font-family: 'Raleway', sans-serif;
}
#menu_Start{
	position: absolute; 
	top: 75%; 
	left: 20%; 
	z-index: 4; 
	cursor: pointer;
	display: none;
}
#menu_Start:hover{
	transform:scale(1.2);
	-ms-transform:scale(1.2); /* IE 9 */
	-moz-transform:scale(1.2); /* Firefox */
	-webkit-transform:scale(1.2); /* Safari and Chrome */
	-o-transform:scale(1.2); /* Opera */
}
#menu_addFruit{
	position: absolute; 
	top: 67%; 
	left: 60%; 
	z-index: 4; 
	cursor: pointer;
	display: none;
}
#menu_addFruit:hover{
	transform:scale(1.2);
	-ms-transform:scale(1.2); /* IE 9 */
	-moz-transform:scale(1.2); /* Firefox */
	-webkit-transform:scale(1.2); /* Safari and Chrome */
	-o-transform:scale(1.2); /* Opera */
}
#menu_addOrange{
	position: absolute; 
	top: 66%; 
	left: 60%; 
	z-index: 4; 
	cursor: pointer;
	display: none;
}
#menu_addOrange:hover{
	transform:scale(1.2);
	-ms-transform:scale(1.2); /* IE 9 */
	-moz-transform:scale(1.2); /* Firefox */
	-webkit-transform:scale(1.2); /* Safari and Chrome */
	-o-transform:scale(1.2); /* Opera */
}
#menu_addBanana{
	position: absolute; 
	top: 67%; 
	left: 60%; 
	z-index: 4; 
	cursor: pointer;
	display: none;
}
#menu_addBanana:hover{
	transform:scale(1.2);
	-ms-transform:scale(1.2); /* IE 9 */
	-moz-transform:scale(1.2); /* Firefox */
	-webkit-transform:scale(1.2); /* Safari and Chrome */
	-o-transform:scale(1.2); /* Opera */
}
#menu_blendOrange{
	position: absolute; 
	top: 75%; 
	left: 20%; 
	z-index: 4; 
	cursor: pointer;
	display: none;
}
#menu_blendOrange:hover{
	transform:scale(1.2);
	-ms-transform:scale(1.2); /* IE 9 */
	-moz-transform:scale(1.2); /* Firefox */
	-webkit-transform:scale(1.2); /* Safari and Chrome */
	-o-transform:scale(1.2); /* Opera */
}
#menu_blendOrangeBanana{
	position: absolute; 
	top: 75%; 
	left: 20%; 
	z-index: 4; 
	cursor: pointer;
	display: none;
}
#menu_blendOrangeBanana:hover{
	transform:scale(1.2);
	-ms-transform:scale(1.2); /* IE 9 */
	-moz-transform:scale(1.2); /* Firefox */
	-webkit-transform:scale(1.2); /* Safari and Chrome */
	-o-transform:scale(1.2); /* Opera */
}
#menu_blendBanana{
	position: absolute; 
	top: 75%; 
	left: 20%; 
	z-index: 4; 
	cursor: pointer;
	display: none;
}
#menu_blendBanana:hover{
	transform:scale(1.2);
	-ms-transform:scale(1.2); /* IE 9 */
	-moz-transform:scale(1.2); /* Firefox */
	-webkit-transform:scale(1.2); /* Safari and Chrome */
	-o-transform:scale(1.2); /* Opera */
}
#menu_blendBananaOrange{
	position: absolute; 
	top: 75%; 
	left: 20%; 
	z-index: 4; 
	cursor: pointer;
	display: none;
}
#menu_blendBananaOrange:hover{
	transform:scale(1.2);
	-ms-transform:scale(1.2); /* IE 9 */
	-moz-transform:scale(1.2); /* Firefox */
	-webkit-transform:scale(1.2); /* Safari and Chrome */
	-o-transform:scale(1.2); /* Opera */
}
#menu_pourOrange{
	position: absolute; 
	top: 75%; 
	left: 25%; 
	z-index: 4; 
	cursor: pointer;
	display: none;
}
#menu_pourOrange:hover{
	transform:scale(1.2);
	-ms-transform:scale(1.2); /* IE 9 */
	-moz-transform:scale(1.2); /* Firefox */
	-webkit-transform:scale(1.2); /* Safari and Chrome */
	-o-transform:scale(1.2); /* Opera */
}
#menu_showOrange{
	position: absolute; 
	top: 75%; 
	left: 25%; 
	z-index: 4; 
	cursor: pointer;
	display: none;
}
#menu_showOrange:hover{
	transform:scale(1.2);
	-ms-transform:scale(1.2); /* IE 9 */
	-moz-transform:scale(1.2); /* Firefox */
	-webkit-transform:scale(1.2); /* Safari and Chrome */
	-o-transform:scale(1.2); /* Opera */
}
#menu_pourOrangeBanana{
	position: absolute; 
	top: 75%; 
	left: 25%; 
	z-index: 4; 
	cursor: pointer;
	display: none;
}
#menu_pourOrangeBanana:hover{
	transform:scale(1.2);
	-ms-transform:scale(1.2); /* IE 9 */
	-moz-transform:scale(1.2); /* Firefox */
	-webkit-transform:scale(1.2); /* Safari and Chrome */
	-o-transform:scale(1.2); /* Opera */
}
#menu_showOrangeBanana{
	position: absolute; 
	top: 75%; 
	left: 25%; 
	z-index: 4; 
	cursor: pointer;
	display: none;
}
#menu_showOrangeBanana:hover{
	transform:scale(1.2);
	-ms-transform:scale(1.2); /* IE 9 */
	-moz-transform:scale(1.2); /* Firefox */
	-webkit-transform:scale(1.2); /* Safari and Chrome */
	-o-transform:scale(1.2); /* Opera */
}
#menu_pourBanana{
	position: absolute; 
	top: 75%; 
	left: 25%; 
	z-index: 4; 
	cursor: pointer;
	display: none;
}
#menu_pourBanana:hover{
	transform:scale(1.2);
	-ms-transform:scale(1.2); /* IE 9 */
	-moz-transform:scale(1.2); /* Firefox */
	-webkit-transform:scale(1.2); /* Safari and Chrome */
	-o-transform:scale(1.2); /* Opera */
}
#menu_showBanana{
	position: absolute; 
	top: 75%; 
	left: 25%; 
	z-index: 4; 
	cursor: pointer;
	display: none;
}
#menu_showBanana:hover{
	transform:scale(1.2);
	-ms-transform:scale(1.2); /* IE 9 */
	-moz-transform:scale(1.2); /* Firefox */
	-webkit-transform:scale(1.2); /* Safari and Chrome */
	-o-transform:scale(1.2); /* Opera */
}
#menu_reset{
	position: absolute; 
	top: 40%; 
	left: 35%; 
	z-index: 4; 
	cursor: pointer;
	display: none;
}
#menu_reset:hover{
	transform:scale(1.2);
	-ms-transform:scale(1.2); /* IE 9 */
	-moz-transform:scale(1.2); /* Firefox */
	-webkit-transform:scale(1.2); /* Safari and Chrome */
	-o-transform:scale(1.2); /* Opera */
}